services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    command:
      - "--providers.docker=true"
      - "--providers.file.directory=/traefik/conf"
      - "--providers.file.watch=true"
      - "--api"
      - "--entrypoints.http.address=:80"
      - "--entrypoints.https.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=http"
      - "--certificatesresolvers.letsencrypt.acme.email=tech@sse.rit.edu"
      - "--certificatesresolvers.letsencrypt.acme.storage=/traefik/acme.json"
      - "--accesslog=true"
      - "--accesslog.filepath=/traefik/access.log"
      - "--accesslog.format=json"
      - "--accesslog.fields.defaultmode=keep"
      - "--accesslog.fields.headers.defaultmode=keep"
      - "--log.level=INFO"
      - "--log.filePath=/traefik/traefik.log"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.compress.compress=true"
      - "traefik.http.middlewares.secure.headers.browserxssfilter=true"
      - "traefik.http.middlewares.secure.headers.contenttypenosniff=true"
      - "traefik.http.middlewares.secure.headers.featurepolicy=geolocation 'none'; midi 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; fullscreen 'self'; payment 'none'"
      - "traefik.http.middlewares.secure.headers.framedeny=true"
      - "traefik.http.middlewares.secure.headers.customframeoptionsvalue=SAMEORIGIN"
      - "traefik.http.middlewares.secure.headers.sslredirect=true"
      - "traefik.http.middlewares.secure.headers.referrerpolicy=strict-origin"
      - "traefik.http.middlewares.secure.headers.customresponseheaders.Server=GNU Netcat 0.7.1"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowmethods=GET,OPTIONS,PUT"
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=*"
      - "traefik.http.middlewares.tohttps.redirectscheme.scheme=https"
      - "traefik.http.middlewares.adminauth.basicauth.usersfile=/traefik/conf/admin.auth"
      - "traefik.http.services.traefik.loadbalancer.passhostheader=true"
    ports:
      - "80:80"
      - "443:443"
    networks:
      - traefik
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
      - type: bind
        source: ./traefik
        target: /traefik/conf
        read_only: true
      - type: volume
        source: traefik
        target: /traefik
    logging:
      driver: "json-file"
      options:
        max-size: "15M"
        max-file: "3"

  website:
    build: https://github.com/rit-sse/WebsiteTheSSEquel.git#main:next
    container_name: website
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.website.rule=Host(`${BASE_DOMAIN}`)"
      - "traefik.http.routers.website.entrypoints=https"
      - "traefik.http.routers.website.service=website"
      - "traefik.http.routers.website.tls=true"
      - "traefik.http.routers.website.tls.certresolver=letsencrypt"
      - "traefik.http.routers.website.middlewares=compress,secure"
      - "traefik.http.routers.website-insecure.rule=Host(`${BASE_DOMAIN}`)"
      - "traefik.http.routers.website-insecure.entrypoints=http"
      - "traefik.http.routers.website-insecure.middlewares=tohttps"
      - "traefik.http.services.website.loadbalancer.server.port=3000"
    env_file:
      .env
    depends_on:
      - traefik
      - postgres
    networks:
      - traefik

  pubwebs:
    image: galenguyer/pubwebs:latest
    container_name: pubwebs
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pubwebs.rule=(Host(`${BASE_DOMAIN}`) && PathPrefix(`/~`))"
      - "traefik.http.routers.pubwebs.entrypoints=https"
      - "traefik.http.routers.pubwebs.service=pubwebs"
      - "traefik.http.routers.pubwebs.tls=true"
      - "traefik.http.routers.pubwebs.tls.certresolver=letsencrypt"
      - "traefik.http.routers.pubwebs.middlewares=compress,secure"
      - "traefik.http.routers.pubwebs-insecure.rule=(Host(`${BASE_DOMAIN}`) && PathPrefix(`/~`))"
      - "traefik.http.routers.pubwebs-insecure.entrypoints=http"
      - "traefik.http.routers.pubwebs-insecure.middlewares=tohttps"
      - "traefik.http.services.pubwebs.loadbalancer.server.port=80"
    depends_on:
      - traefik
    networks:
      - traefik
    volumes:
      - type: bind
        source: /home
        target: /home
        read_only: true

  postgres:
    image: postgres:17
    ports:
      - "127.0.0.1:5432:5432"
    container_name: postgres
    restart: unless-stopped
    environment:
      - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD}"
      - "POSTGRES_DB=ssequel"
    labels:
      - "traefik.enable=false"
      - "com.centurylinklabs.watchtower.enable=false"
    networks:
      - traefik
    volumes:
      - type: volume
        source: postgres
        target: /var/lib/postgresql/data

  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    # command:
     # - "--http-api-update"
    environment:
      - "WATCHTOWER_HTTP_API_TOKEN=${WATCHTOWER_HTTP_API_TOKEN}"
      - "WATCHTOWER_SCHEDULE=0 0 1 * * 2"
      - "WATCHTOWER_HTTP_API_METRICS=true"
      - "WATCHTOWER_NOTIFICATION_URL=${DISCORD_URL}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.watchtower.stripprefix.prefixes=/watchtower"
      - "traefik.http.routers.watchtower.rule=(Host(`${BASE_DOMAIN}`) && PathPrefix(`/watchtower`))"
      - "traefik.http.routers.watchtower.entrypoints=https"
      - "traefik.http.routers.watchtower.service=watchtower"
      - "traefik.http.routers.watchtower.tls=true"
      - "traefik.http.routers.watchtower.tls.certresolver=letsencrypt"
      - "traefik.http.routers.watchtower.middlewares=watchtower"
      - "traefik.http.routers.watchtower-insecure.rule=(Host(`${BASE_DOMAIN}`) && PathPrefix(`/watchtower`))"
      - "traefik.http.routers.watchtower-insecure.entrypoints=http"
      - "traefik.http.routers.watchtower-insecure.middlewares=tohttps"
      - "traefik.http.services.watchtower.loadbalancer.server.port=8080"
      # - "com.centurylinklabs.watchtower.enable=false"
    networks:
      - traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/timezone:/etc/timezone:ro

networks:
  traefik:
    name: traefik
    driver: bridge

volumes:
  traefik:
  postgres:
